@model HotalManagmentSystem.Models.User

@{
    ViewBag.Title = "Cancel_userInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cancel_userInfo</h2>

@using (Html.BeginForm("Cancel_RoomInfo", "Check_Out"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserNationalID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserNationalID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserNationalID, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.message != null)
    {
        <span class="text-danger">@ViewBag.message</span>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>*@
