@using HotalManagmentSystem.Models;
@model List<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>All Employee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            Employee Name
        </th>

        <th>
            Employee Phone
           
        </th>
        <th>
            Employee Image
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhone)
            </td>
            <td>
                <img src="~/Content/Images/@item.EmployeeImage" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Employee_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Employee_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Employee_ID })
            </td>
        </tr>
    }

</table>
